**/.vs/
/_bin/*
/_misc/tool to get iteminfos/bin/
/_misc/tool to get iteminfos/obj/
/D3DHook/obj/
/GDIAHook/GDIAHook/x64/*
/GDIALib/bin/
/GDIALib/obj/
/GDMultiStashApp/Connected Services/
/GDMultiStashApp/obj/
GDMultiStashDebug/obj/
GDMultiStashStarter/obj/
GDMultiStashTest/obj/
/GDMultiStashUpdater/bin/
/GDMultiStashUpdater/obj/
/packages/
/x64